body {
    background: #CCCCCC;
}

header {
    background: #BBBBBB ;
    padding: 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin:auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 28px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}

nav a:hover {
    color:purple;
    text-decoration: underline;
}

.principal h1 {
    text-align:center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    padding: 30px;
    margin: 10px;
}

p {
    text-align: center;
    font-size: 25px;
    line-height: 33px;

}

#missao {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;;
}

strong {
    color: purple;
    text-transform: uppercase;
}

.principal {
    border: solid purple;
    padding: 30px;
    margin: 10px;
    font-style:inherit;
}

.beneficios {
    display: inline-block;
    border: solid purple;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 10px;
}

.beneficios h2 {
    text-align:center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    padding: 30px;
    margin: 10px;
}

.beneficios ul {
    vertical-align: top;
    text-align: center;
    display: inline-block;   
    width: 33%;
    padding: 10px;
    margin: 10px;
}

.itens {
    font-style: italic;
    font-size: 40px;
    margin-top: 60px;
    margin-left: 40px;
    margin-bottom: 73px;
}

.imagemBeneficios {
    display: inline-block;
    width: 25%;
    border: solid purple;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.Copyright {
    color: white;
    margin: 15px;
}