.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    justify-content: space-around;
}

/* mobile */
@media (max-width:768px){

       
    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .conteudoPrincipal-cursos { 
        align-items: center;
    }
}