body {
    background: #BBBBBB;
    font-family: 'BIZ UDPMincho', serif;
}

header {
    background: #BBBBBB ;
    padding: 20px;
}

.corpo {
    background: linear-gradient(#BBBBBB, rgba(220,220,220, 1), rgba(128,0,128, 0.4) );
}

.caixa {
    position: relative;
    width: 940px;
    margin:auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 28px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}

nav a:hover {
    color:purple;
    text-decoration: underline;
}

.principal h1 {
    text-align:center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    padding: 30px;
    margin: 10px;
}

.principal .utensilios {
    width: 200px;
    float:left;
    border: purple solid 2px;
    border-radius: 10px;
}

p {
    text-align: center;
    font-size: 25px;
    line-height: 33px;

}

#missao {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;;
}

strong {
    color: purple;
    text-transform: uppercase;
}

.principal {
    border: solid purple;
    padding: 30px;
    margin: 10px;
    font-style:inherit;
}

.mapa {
    width: 80%;
    margin: auto;
    padding: 3em 0;
}

.mapa .Titulo-mapa {
    text-align:center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    padding: 30px;
    margin: 10px;
}

.mapa p {
    padding-bottom: 2em;
}

.beneficios {
    display: inline-block;
    border: solid purple;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 10px;
}

.beneficios h2 {
    text-align:center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    padding: 30px;
    margin: 10px;
}

.beneficios ul {
    vertical-align: top;
    text-align: center;
    display: inline-block;   
    width: 33%;
    padding: 10px;
    margin: 10px;
}

.itens {
    font-style: italic;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.itens::before {
    content: "\1F34C";
}

.itens:nth-child(2n-1) {
    font-weight: bold;
}

.imagemBeneficios {
    display: inline-block;
    width: 25%;
    border: solid purple;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
}

.video { 
    width: 800px;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: auto;
}

.video h1 {
    text-align:center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    padding: 30px;
    margin: 10px;
}


footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.Copyright {
    color: white;
    margin: 15px;
}

@media screen and (max-width: 480px) {

    .caixa nav{
        width: 100%;
    }
}